#Remove this line before deploying
# ENTER BOT TOKEN (Get your BOT_TOKEN by talking to @botfather)
BOT_TOKEN = "1988601636:AAG7446OuUSn_nDCbhGpNuW9prom24rSPyA"
OWNER_ID = 443495584
TELEGRAPH_TOKEN = "517264f13bf404435aefb9e4b5bf5616b55adee5c17239a861319f63c984"


